html
    head
        title Leaderboard
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' type='text/css' href='/css/leaderBoard.css')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.0.0/p5.js')
        script(src='./Tiles.js')
        script(src='./Class.js')
        script(src='./index.js')
    table
        body
        tr
        th Rank
        th Username
        th Score
        tr
        td 1
        td= result[0].PlayerName
        td= result[0].Score
        tr
        td 2
        td= result[1].PlayerName
        td= result[1].Score
        tr
        td 3
        td= result[2].PlayerName
        td= result[2].Score
        tr
        td 4
        td= result[3].PlayerName
        td= result[3].Score
        tr
        td 5
        td= result[4].PlayerName
        td= result[4].Score
        tr
        td 6
        td= result[5].PlayerName
        td= result[5].Score
        tr
        td 7
        td= result[6].PlayerName
        td= result[6].Score
        tr
        td 8
        td= result[7].PlayerName
        td= result[7].Score
        tr
        td 9
        td= result[8].PlayerName
        td= result[8].Score
        tr
        td 10
        td= result[9].PlayerName
        td= result[9].Score